html {
  font-size: 20px;
}

body {
  font-family:"Arial","Meiryo",sans-serif;
  text-align: center;
}

/* 以下はキーワードで色を指定しています */
.blue {
  color: skyblue;
}
/* 以下はRGBで色を指定しています */
.pink {
  color: rgb(255, 192, 203);
}

h1 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
}

#basic > p {
  font-weight: bold;
}

