html {
  font-size: 28px;
}

body {
  font-family:"Arial","Meiryo",sans-serif;
  text-align: center;
}

/* 以下はキーワードで色を指定しています */
.blue {
  color: skyblue;
}
/* 以下はRGBで色を指定しています */
.pink {
  color: rgb(255, 192, 203);
}

h1 {
  font-size: 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  text-shadow: 1px 1px 2px gray;
  text-decoration: underline 3px rgb(115, 115, 114);
}

#basic > p {
  font-weight: bold;
}

